/* Header */

.main-header {
    font-family: "Arvo", "Times New Roman", serif;
    text-align: center;
}


/* Color-Section */

.color-container {
    width: 90%;
    height: 200%;
    margin-left: 5%;
    border: 1px solid black;
}

.color-container h3 {
    text-align: center;
    font-family: Arvo, "Times New Roman", serif;
    font-size: 1.5em;
    margin-bottom: 0%;
}

.color-container p {
    text-align: center;
}

.color-one {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #94D1BE;
    margin: 20px 30px;
    width: 20%;
    height: 150px;
    padding-top: 30px;
}

.color-two {
    display: inline-block;
    text-align: center;
    background-color: #DAF0EE;
    margin: 20px 30px;
    width: 20%;
    height: 150px;
    padding-top: 30px;
}

.color-three {
    display: inline-block;
    text-align: center;
    background-color: #9DB5B2;
    margin: 20px 30px;
    width: 20%;
    height: 150px;
    padding-top: 30px;
}

.color-four {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #3B413C;
    margin: 20px 30px;
    width: 20%;
    height: 150px;
    padding-top: 30px;
}

/* Fonts */

.font-container {
    width: 90%;
    height: 200%;
    margin-left: 5%;
    margin-top: 50px;
    border: 1px solid black;
}

.font-container h3 {
    text-align: center;
    font-family: Arvo, "Times New Roman", serif;
    font-size: 1.5em;
    margin-bottom: 0%;
}

.font-container p {
    text-align: center;
}

.first-font {
    display: inline-block;
    margin: 20px 30px;
}

.first-font .arvo-regular {
    font-family: Arvo;
    font-style: normal;
}

.first-font .arvo-italics {
    font-family: Arvo;
    font-style: italic;
}

.first-font .arvo-bold {
    font-family: Arvo;
    font-weight: bold;
}

.second-font {
    display: inline-block;
    margin-left: 400px;
}

.second-font .assistant-regular {
    font-family: Assistant;
    font-style: normal;
}

.second-font .assistant-semibold {
    font-family: Assistant;
    font-weight: 600;
}

.second-font .assistant-bold {
    font-family: Assistant;
    font-weight: 800;
}

.third-font {
    display: inline-block;
    margin: 20px 30px;
}

.third-font .notoserif-regular {
    font-family: "Noto Serif";
    font-style: normal;
}

.third-font .notoserif-italics {
    font-family: "Noto-Serif";
    font-style: italic;
    font-size: 1.2em;
}

.third-font .notoserif-bold {
    font-family: "Noto-Serif";
    font-weight: 700;
    font-size: 1.2em;
}

/* Text-Styles */

.textstyles-container {
    width: 90%;
    height: 200%;
    margin-left: 5%;
    margin-top: 50px;
    border: 1px solid black;
    margin-bottom: 50px;
}

.textstyles-container h3 {
    text-align: center;
    font-family: Arvo, "Times New Roman", serif;
    font-size: 1.5em;
    margin-bottom: 0%;
}

.textstyles-container h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: Arvo;
}

.main-heading {
    margin: 20px 30px;
}

.textstyles-container h2 {
    font-size: 25px;
    font-family: Assistant;
    font-weight: 600;
    font-style: italic;
}

.second-heading {
    margin: 20px 30px;
}

.paragraph-text {
    font-family: "Noto-Serif";
    font-size: 18px;
    margin: 20px 30px;
}